 <!-- Insert jumbotron component here -->
  <app-jumbotron title="Welkome to our store" description="Browse our collection of license plates"></app-jumbotron>
  <div class="container">
    <div class="row" >
      @for (myPlate of licensePlates$ | async  ; track myPlate._id){
        <!-- License plates go here -->
        <app-license-plate [plate]="myPlate"
                           buttonText="Add to cart"
                           appHighlight
                           class="col-md-4"
                           (buttonClick)="addToCart($event)" >

        </app-license-plate>
      }

    </div>
  </div>
 <app-dialog [isOpen]="showPopup" title="Item added to cart" (onClose)="showPopup = false" >
   Thanks for shopping with us!
 </app-dialog>
